.select {
  @apply block rounded-none border  border-gray-300;
}

.select:focus {
  @apply shadow-none;
}

.select:focus {
  @apply border-blue-500 rounded-none;
}

.select > div {
  border: none;
  appearance: none;
  background-color: #ffffff;
  border-color: #a4cafe;
  border-width: 1px;

  font-size: 1rem;
  line-height: 1.5;
  color: #8a909b;
  opacity: 1;
  @apply rounded-none;
}

.select span {
  display: none;
}
