.background {
  background: url(./background.jpg);

  @apply bg-cover flex-1 relative;
}

.background:before {
  background: linear-gradient(45deg, #0f132d, rgba(28, 36, 83, 0.8));
  content: "";

  @apply absolute inset-0;
}
