.background {
  background: url(./background.jpg);

  @apply bg-fixed flex flex-col relative p-8 w-full;
}

.background:before {
  backdrop-filter: blur(0.1rem);
  content: "";

  @apply absolute bg-sdh-blue bg-opacity-75 inset-0;
}

.logo {
  background: url(./logo.png);
  background-repeat: no-repeat;

  @apply bg-contain h-10 relative;
}

@screen md {
  .background {
    width: 20rem;
  }
}
